{% extends 'base.html' %}

{% set page_head_title = 'Recipes' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('recipes.static', filename='css/recipes.css') }}"/>
{% endblock %}


{% block page_body_content %}
<div id="main">

    <div class="filters-cont">
        <h3 class="filter-cont-header">
            <img src="{{ url_for('recipes.static', filename='media/list_2.png') }}" alt=""> Filters
        </h3>
        <!--            <button class="filter-apply-button" type="button">Show Favorites</button>-->
        <h3 class="filter-headers">Difficulty</h3>
        <label>
            <input type="checkbox" name="Difficulty" value="Easy"> Easy
        </label>
        <br>
        <label>
            <input type="checkbox" name="Difficulty" value="Medium"> Normal
        </label>
        <br>
        <label>
            <input type="checkbox" name="Difficulty" value="Hard"> Hard
        </label>
        <br>
        <hr class="line">

        <h3 class="filter-headers">Minimum Servings</h3>
        <p id="sliderValue">2</p>
        <div class="slider">
            <input type="range" min="1" max="10" value="2" class="slider-input" id="servingsSlider">
        </div>
        <hr class="line">
        <h3 class="filter-headers">Cuisine</h3>
        {%for cuisine in cuisines%}
        <label>
            <input type="checkbox" name="Cuisine" value="{{cuisine}}" {% if cuisine in usercusine %}checked{% endif %}>
            {{cuisine}}
        </label>
        <br>
        {%endfor%}
        <hr class="line">
        <h3 class="filter-headers">Sensitivities</h3>
        {%for sensitivity in sensitivities%}
        <label>
            <input type="checkbox" name="Sensitivity" value="{{sensitivity}}" {% if sensitivity in usersensitivity
                   %}checked{% endif %}> {{sensitivity}}
        </label>
        <br>
        {%endfor%}
        <hr class="line">
        <button class="filter-apply-button" type="button">Apply</button>
        <hr class="line">
        <button class="filter-apply-button" id="clear-filter" type="button">Clear Filters</button>


    </div>
    <div class="recipes-display-cont">
        <div class="header-container">
            <h1 id="recipes-header">Recipes</h1>
            <div class="header-search">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button>
            </div>
            <button class="filter-apply-button favorite-button" type="button">Show Favorites</button>
        </div>
        <br>

        {% if no_recipes_found %}
        <div class="alert alert-warning" role="alert">
            <h1 class="alert-heading">😞 No Matching Recipes Found 😞</h1>
            <p id="no-recipes-message">Unfortunately, we couldn't find any recipes that match your selected ingredients.</p>
            <hr>
            <br>
            <p class="links-to-redirect">
                <a href="/ingredients" class="btn btn-primary">🥕🐟🍓 Go back to the ingredients page 🥕🐟🍓</a>
                <br>
                <br>
                <a href="/recipes" class="btn btn-secondary">🍰🍔🥗 View all recipes 🍰🍔🥗 </a>
            </p>
        </div>
        {% else %}
        {% endif %}
        <div class="recipes-grid">
            {% for recipe in recipes %}
            <div class="recipe-card" data-id="{{ recipe.recipe_id }}" data-difficulty="{{ recipe.difficulty }}"
                 data-sensitives="{{ recipe.sensitives|join(', ') }}" data-cuisine="{{ recipe.cuisine }}"
                 data-steps="{{ recipe.steps|join(', ') }}" data-description="{{ recipe.description }}"
                 data-serving="{{ recipe.serving }}" data-ingredients="{{ recipe.ingredients|join(', ') }}">
                <img src="{{ url_for('recipes.static', filename='media/' + recipe.image) }}" alt="{{ recipe.name }}">
                <h2 class="recipe-name">{{ recipe.name }}</h2>
                <a href="recipe?id={{recipe.recipe_id}}">
                    <button class="view-button">View</button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block page_body_js %}
<script src="{{ url_for('recipes.static', filename='js/recipes.js') }}"></script>
{% endblock %}