{% extends 'base.html' %}

{% set page_head_title = 'Recipes' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('recipes.static', filename='css/recipes.css') }}"/>
{% endblock %}


{% block page_body_content %}
<div id="main">
    <div class="filters-cont">
        <h3 class="filter-cont-header">
            <img src="{{ url_for('recipes.static', filename='media/list_2.png') }}" alt=""> Filters
        </h3>
        <!--            <button class="filter-apply-button" type="button">Show Favorites</button>-->
        <h3 class="filter-headers">Difficulty</h3>
        <label>
            <input type="checkbox" name="Difficulty" value="Easy"> Easy
        </label>
        <br>
        <label>
            <input type="checkbox" name="Difficulty" value="Medium"> Normal
        </label>
        <br>
        <label>
            <input type="checkbox" name="Difficulty" value="Hard"> Hard
        </label>
        <br>
        <hr class="line">

        <h3 class="filter-headers">Minimum Servings</h3>
        <p id="sliderValue">5</p>
        <div class="slider">
            <input type="range" min="1" max="10" value="5" class="slider-input" id="servingsSlider">
        </div>
        <hr class="line">
        <h3 class="filter-headers">Cuisine</h3>
        <label>
            <input type="checkbox" name="Cuisine" value="Italian"> Italian
        </label>
        <br>
        <label>
            <input type="checkbox" name="Cuisine" value="Asian"> Asian
        </label>
        <br>
        <label>
            <input type="checkbox" name="Cuisine" value="Mediterranean"> Mediterranean
        </label>
        <br>
        <label>
            <input type="checkbox" name="Cuisine" value="General"> General
        </label>
        <br>
        <label>
            <input type="checkbox" name="Cuisine" value="Dessert"> Dessert
        </label>
        <hr class="line">
        <h3 class="filter-headers">Sensitivities</h3>
        <label>
            <input type="checkbox" name="Sensitivity" value="Meat"> Meat
        </label>
        <br>
        <label>
            <input type="checkbox" name="Sensitivity" value="Gluten"> Gluten
        </label>
        <br>
        <label>
            <input type="checkbox" name="Sensitivity" value="Dairy"> Dairy
        </label>
        <br>
        <label>
            <input type="checkbox" name="Sensitivity" value="Nuts"> Nuts
        </label>
        <br>
        <label>
            <input type="checkbox" name="Sensitivity" value="Soy"> Soy
        </label>
        <br>
        <label>
            <input type="checkbox" name="Sensitivity" value="Shellfish"> Shellfish
        </label>
        <br>
        <hr class="line">
        <button class="filter-apply-button" type="button">Apply</button>
        <hr class="line">
        <button class="filter-apply-button" id="clear-filter" type="button">Clear Filters</button>




    </div>
    <div class="recipes-display-cont">
        <div class="header-container">
            <h1 id="recipes-header">Recipes</h1>
            <button class="filter-apply-button favorite-button" type="button">Show Favorites</button>
        </div>
        <br>
        <div class="recipes-grid">
            {% for recipe in recipes %}
            <div class="recipe-card" data-id="{{ recipe.recipe_id }}" data-difficulty="{{ recipe.difficulty }}" data-sensitives="{{ recipe.sensitives|join(', ') }}" data-cuisine="{{ recipe.cuisine }}" data-steps="{{ recipe.steps|join(', ') }}" data-description="{{ recipe.description }}" data-serving="{{ recipe.serving }}" data-ingredients="{{ recipe.ingredients|join(', ') }}">
                <img src="{{ url_for('recipes.static', filename='media/' + recipe.image) }}" alt="{{ recipe.name }}">
                <h2 class="recipe-name">{{ recipe.name }}</h2>
                <a href="recipe?id={{recipe.recipe_id}}">
                    <button class="view-button">View</button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block page_body_js %}
<script src="{{ url_for('recipes.static', filename='js/recipes.js') }}"></script>
{% endblock %}