{% extends 'base.html' %}

{% set page_head_title = 'Ingredients' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('ingredients.static', filename='css/ingredients.css') }}"/>
{% endblock %}


{% block page_body_content %}
<div class="ingredient-top-area">
    <!--         Ofri - class="ingredient-top-area" Includes the search bar, the ingredient header and the ingredient cards-->
    <h2 class="ingredient-header">Ingredients</h2>

    <div class="header-search">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>
</div>

<div class="info-box">
    <p>Choose ingredients that you have in your pantry! Click "Show Recipes" and find recipes that suit your choice</p>
</div>

<div class="main-content">
    <div class="filter-container">
        <h3 class="filter-header">
            <img src="{{ url_for('ingredients.static', filename='media/photos/List_2.png') }}" alt=""> Categories
        </h3>
        <form id="category-form">
            {% for category in ingredients_categories %}
            <label>
                <input type="checkbox" name="category" value="{{category}}"> {{category}}
            </label>
            <br>
            {% endfor %}

            <hr class="line">
            <button class="filter-apply-button" type="submit">Apply</button>
        </form>
        <br>
        <br>
        <button class="filter-apply-button" id="clear-filter" type="button">Clear Filters</button>
        <br>
        <br>
        <button class="filter-apply-button" id="Show_Recipes" type="button">Show Recipes</button>

    </div>

    <div class="ingredient-grid">
        <!-- Ofri - Ingredient cards should be added here by the Script I will build -->
        {% for ingredient in ingredients %}
        <div class="ingredient-card" data-type="{{ ingredient.type }}">
            <img src="{{ url_for('ingredients.static', filename='media/photos/' + ingredient.image) }}"
                 alt="{{ ingredient.name }}">
            <h3 class="ingredient-name">{{ ingredient.name }}</h3>
            <button class="IngAddButton">Add</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block page_body_js %}
<script src="{{ url_for('ingredients.static', filename='js/ingredients.js') }}"></script>
{% endblock %}