{% extends 'base.html' %}

{% set page_head_title = 'Recipe' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('singleRecipe.static', filename='css/singleRecipe.css') }}"/>
{% endblock %}



{% block page_body_content %}
<div class="RecipiePage">
    <div class="infoContainer">
        <h1 class="infoContainer" id="RecepieHeader">Recepie header here</h1>
        <p class="infoContainer" id="RecepieDescription">Description here</p>
        <text class="infoContainer" id="RecepieServing"><strong>Serving: </strong>number serving here</text>
        <h4 class="infoContainer" id="ingredientTitle">Ingredients:</h4>
        <ul class="infoContainer" id="RecepieIngredients">
        </ul>
    </div>
    <div class="Recipie">
        <img class="Recipie" id="RecepieImage" src="source here" alt="Recepie">
        <div class="Recipie save">
            <text class="Recipie save" id="save"><strong>Save To Favorites</strong></text>
            <button class="Recipie save star" id="FavoriteButton"></button>
        </div>
        <div class="RecipieSteps" id="recipeSteps">
            <!-- Steps will be added dynamically using JavaScript -->
        </div>
    </div>
</div>
{% endblock %}


{% block page_body_js %}
<script src="{{ url_for('singleRecipe.static', filename='js/singleRecipe.js') }}"></script>
{% endblock %}