{% extends 'base.html' %}

{% set page_head_title = 'userinfo' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('userinfo.static', filename='css/userinfo.css') }}"/>
{% endblock %}



{% block page_body_content %}
<div class="infoForm">
    <img class="UIlogo" src="{{ url_for('userinfo.static', filename='media/logo.png') }}" alt="logo">
    <div class="forms">
        <form class="personal">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="input" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="input" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="input" name="password" id="password" placeholder="Password">
            </div>
        </form>
        <form class="preferences">
            <label class="label">Select Your Favorite Cuisine:</label>
            <select class="multipuleSelection" id="favoriteCuisine" name="favoriteCuisine" multiple
                    onchange="addSelectedItem('favoriteCuisine')">
                <option class="option" value="italian">Italian</option>
                <option class="option" value="mexican">Mexican</option>
                <option class="option" value="japanese">Japanese</option>
                <option class="option" value="indian">Indian</option>
            </select>
            <label class="label">Select Your Food Sensitivities:</label>
            <select class="multipuleSelection" id="foodSensitivity" name="foodSensitivity" multiple
                    onchange="addSelectedItem('foodSensitivity')">
                <option class="option" value="gluten">Gluten</option>
                <option class="option" value="dairy">Dairy</option>
                <option class="option" value="nuts">Nuts</option>
                <option class="option" value="soy">Soy</option>
                <option class="option" value="shellfish">Shellfish</option>
            </select>
        </form>
    </div>
    <button type="submit" class="submit-btn" id="submit">Change Details</button>
    <text class="message" id="message"></text>
</div>
{% endblock %}


{% block page_body_js %}
<script src="{{ url_for('userinfo.static', filename='js/userinfo.js') }}"></script>
{% endblock %}