{% extends 'base.html' %}

{% set page_head_title = 'signup' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('signup.static', filename='css/signup.css') }}"/>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block page_body_content %}
<div class="container">
    <div class="page">
        <img class="logo" src="{{ url_for('signup.static', filename='media/logo.png') }}" alt="logo">
        <form class="signUpForm form1" method="POST" action="/signup" >
            <h1 class="signHeader">Sign Up</h1>
            <text class="textheader">Fill User Name</text>
            <input type="text" class="input" name="username" id="username" placeholder="Username">
            <text class="textheader">Fill Email</text>
            <input type="email" class="input" name="email" id="email" placeholder="Email">
            <text class="textheader">Fill Password</text>
            <input type="password" class="input" name="password" id="password" placeholder="Password">
            <text class="textheader">Please confirm Password</text>
            <input type="password" class="input" name="confirmPassword" id="confirmPassword"
                   placeholder="Confirm Password">
            <button type="submit" id="btn">Next</button>
            <p>Already have an account? <a href="homepage">Home page</a></p>
        </form>
        <form class="signUpForm form2" method="POST" action="/signup">
            <h1 class="signHeader">Additional Information</h1>
            <label class="label">Select Your Favorite Cuisine:</label>
            <select class="multipuleSelection" id="favoriteCuisine" name="favoriteCuisine" multiple>
                {% for cuisine in cusines %}
                <option value="{{ cuisine }}">{{ cuisine }}</option>
                {% endfor %}
            </select>
            <label class="label">Select Your Food Sensitivities:</label>
            <select class="multipuleSelection" id="foodSensitivity" name="foodSensitivity" multiple>
                {% for sensitivity in sensitivities %}
                <option value="{{ sensitivity }}">{{ sensitivity }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="signup">Sign Up</button>
            <p>Already have an account? <a href="homepage">Home page</a></p>
        </form>
    </div>
    <div class="pic">
        <div class="picText">
            <p class="picP">
                “I can take an eggplant and dive into his world. He has become my whole world, and I enter his magic
                cave”
            </p>
            <p class="picP">
                Eyal Shani - Michelin Starred Chef
            </p>
        </div>
    </div>
    </img>
</div>
</div>
{% endblock %}

{% block login_pop%}
{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('signup.static', filename='js/signup.js') }}"></script>
{% endblock %}
