/* page */
.RecipiePage {
    /* display */
    display: flex;
    color: #323743FF;
    margin-top: 30px;
    font-family: manrope, sans-serif;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-Right: 10px;
    margin-left: 10px;
    width: 350px;
}

.Recipie {
    margin-Right: 10px;

}

h4 {
    margin-bottom: 0px;
}

#RecepieIngredients {
    padding: 0;
    margin: 5PX;
    list-style-type: none;
}

#RecepieIngredients li::before {
    content: "• "; /* You can replace the bullet symbol with any symbol you prefer */
}

#RecepieIngredients li {
    display: inline-block;
    margin-bottom: 5px;
}

#RecepieImage {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 0px;
}

.star {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: transform 0.2s;
    cursor: pointer;
    margin: 5px;
}

.star:hover {
    transform: scale(1.2);
}

.star.checked {
    background-color: gold;
}
.save{
    display: flex;
    align-content: center;
    justify-content: start;
}
#save{
    margin-top: 12px;
}

.RecipieStep h2{
    margin-bottom: 0px;
}
.RecipieStep p{
    margin: 0px;
    margin-right: 150px;
}
